public static final String #(upper_model_name)_LIST = "/#(lower_model_name)/list";
public static final String #(upper_model_name)_ADMIN_LIST = "/#(lower_model_name)/admin/list";
public static final String #(upper_model_name)_FIND = "/#(lower_model_name)/find";
public static final String #(upper_model_name)_ADMIN_FIND = "/#(lower_model_name)/admin/find";
public static final String #(upper_model_name)_ADMIN_SAVE = "/#(lower_model_name)/admin/save";
public static final String #(upper_model_name)_ADMIN_UPDATE = "/#(lower_model_name)/admin/update";
public static final String #(upper_model_name)_ADMIN_DELETE = "/#(lower_model_name)/admin/delete";